RewriteEngine On
#aqui criamos uma condição para que os arquivos sejam ignorados nas regras abaixo
RewriteCond %{REQUEST_FILENAME} !-f
#aqui criamos uma condição para que diretórios sejam ignorados nas regras abaixo
RewriteCond %{REQUEST_FILENAME} !-d
#aqui definimos onde começa a base das regras
#vamos supor que fosse um subdiretório, como por exemplo: /vs1/
#aqui ignoramos o uso de barra no final
#RewriteRule ^(.*)$ index.php [L]
RewriteRule . index.php [L]